.shadow {
   color: black;
   text-shadow: 
     4px 4px 0 red,
     6px 6px 0 blue,
     8px 8px 0 purple;
   font: 9em sans-serif;
}

.text-one {
  text-transform: uppercase;
}

.text-two {
  text-transform: capitalize;
}

.text-three {
  text-transform: lowercase;
}

.text-one,
.text-two,
.text-three {
  font: 4.5em sans-serif;
}

.truncate {
  width: 420px;
  background-color: #ccc;
  padding: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 5px;
}

a {
  background-color: rgb(25, 110, 25);
  color: white;
  text-decoration: none;
  padding: 12px;
  display: inline-block;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 38px;
  border: 8px solid rgb(25, 90, 25);
  border-top: none;
}

.centered-link {
  text-align: center;
  margin-top: 20px;
}